
<h1>Buscando: <small>{{termino}}</small></h1>
<hr>

<div class="row" *ngIf="heroes.length==0">
 <div class="col-md-12">
   <div class="alert alert-info" role="alert">
     No existe resultados con el término: {{termino}}
  </div>
  </div>
</div>

<!--  <div class="row card-deck"> -->

    <div class="card-columns">
 <!--  <div class="col-md-4" *ngFor="let h of heroes">
    <div class="card animated fadeIn fast">
        <img class="card-img-top" [src]="h.img" [alt]="h.nombre">
        <div class="card-body">
          <h5 class="card-title">{{h.nombre}}</h5>
          <p class="card-text">{{h.bio}}</p>
          <p class="card-text"><small class="text-muted">{{h.aparicion}}</small></p> -->
          <!-- <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a> -->
          <!-- <button (click)="verHeroe(h.idx)"
            type="button" class="btn btn-outline-primary btn-block">
            Ver más....
          </button>
       </div>
    </div> 
    <br/>
   </div> --> <!-- *ngFor-->  
   <heroe-tarjeta [heroe]="heroe" (heroeseleccionado)="verHeroe($event)" [indice]="heroe.idx" *ngFor="let heroe of heroes"></heroe-tarjeta>
</div>

